.pokemon {
  margin: 40px 0px 0px 40px;
}

.pokemon-name {
  text-align: center;
}

.pokemon-types {
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.pokemon-types p {
  border: 2px solid #6D6D4E;
  border-radius: 20px;
  padding: 10px
}

.pokemon-abilities {
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
}